In [1]:
print('''''')

In [2]:
print('''"''')

"

In [3]:
print("""Python is a"wesome""")

Python is a"wesome

In [4]:
print("""bugün python dersinin ikincisi.
ikinci derse yine tırnakları işleyerek başladık.
inşaallah bir yerde biter bu tırnak mevzusu""") # 3 tırnak paragraf paragraf yazmamıza izin verir

bugün python dersinin ikincisi.
ikinci derse yine tırnakları işleyerek başladık.
inşaallah bir yerde biter bu tırnak mevzusu

In [19]:
print("bugün python dersinin ikincisi.
ikinci derse yine tırnaları işleyerek başladık.
inşaallah bir yerde biter bu tırnak mevzusu")

SyntaxError: unterminated string literal (detected at line 1) (1752864821.py, line 1)

### pep8 kuralları

In [5]:
print("""bugün python dersinin ikincisi.
ikinci derse yine tırnaları işleyerek başladık.
inşaallah bir yerde biter bu tırnak mevzusu""") #pep8 kuralları gereği bir satırda 79 karakterden fazlasını istemiyoruz

bugün python dersinin ikincisi.
ikinci derse yine tırnaları işleyerek başladık.
inşaallah bir yerde biter bu tırnak mevzusu

#### comment "#"

### variables - değişkenler

In [6]:
age = 32

In [7]:
age

32

In [8]:
name = "sedat"

In [9]:
name

'sedat'

In [10]:
name_2 = 'ahmet'

In [11]:
name_2

'ahmet'

In [31]:
first_name = "yavuz"
last_name = "aktaş"

In [34]:
pi_number = 3.14 # değişken isimleri anlaşılır olmalıdır
pi_number

3.14

In [35]:
pi_num = 3.14 # değişken ismi olabilir.

#### değişken isimlerinde - kullanılmaz. - matematiksel işlem ifade eder

In [37]:
pi = 3
num = 1

In [38]:
pi - num

2

In [42]:
name_5 = "serap"; name_6 = "arif"

In [15]:
name_7, name_8 = "mehmet", "selim"

In [45]:
name_9 = "berat", "lilibet"
name_9

('berat', 'lilibet')

In [46]:
name_10, name_11 = "ali"

ValueError: too many values to unpack (expected 2)

### data types - veri tipleri
#### str
#### int
#### float

In [12]:
"hello world" #str , string

'hello world'

In [13]:
print(type("hello world"))

<class 'str'>

In [16]:
name_7

'mehmet'

In [17]:
print(type(name_7))

<class 'str'>

In [54]:
age

32

In [55]:
print(type(age))

<class 'int'>

In [59]:
print("3" + "5") #string ifadelerde toplama işlemi yapılır - concatenation

35

In [62]:
type("3" + "5")

str

In [63]:
print("4" * 5)

44444

In [64]:
print("41" * 3)

414141

In [65]:
"sedat" * 3

'sedatsedatsedat'

In [66]:
name_7

'mehmet'

In [67]:
print("name_7" * 3)

name_7name_7name_7

In [68]:
print(name_7 * 3)

mehmetmehmetmehmet

In [18]:
print("'h'"'   ''ello world')

'h'   ello world

In [70]:
pi_number

3.14

In [71]:
type(pi_number)

float

In [72]:
type(False)

bool

In [73]:
type(True)

bool

In [75]:
x, y, z = "banana", "apple", "orange"
print(x)
print(y)
print(z)

banana
apple
orange

In [76]:
x
y
z

'orange'

In [77]:
my_age = 32
your_age = 50
my_age = your_age

In [78]:
my_age

50

In [79]:
my_age = 55

In [80]:
my_age

55

In [19]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age = 32
department = "Web Developer"
salary = 110000

In [20]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

In [83]:
x = "Techpro"
y = x
x = "python"
print(x)
print(y)

python
Techpro

In [84]:
a, b, c = 5, 10, 15

In [85]:
print(a)
print(b)
print(c)

5
10
15