In [5]:
jan = march = may = jul = sep = nov = 31
feb = 28
apr = jun = august = oct = dec = 30

In [6]:
print(jan, feb, march, apr, may, jun, jul, august, sep, oct, nov, dec)

31 28 31 30 31 30 31 30 31 30 31 30

### Type Conversion

#### all types to str

In [7]:
age = 30
age

30

In [8]:
type(age)

int

In [9]:
converted_age = str(age)

In [13]:
converted_age # string 30 oldu

'30'

In [14]:
type(converted_age)

str

In [15]:
pi_number = 3.14

In [16]:
type(pi_number)

float

In [17]:
converted_pi_number = str(pi_number)

In [18]:
type(converted_pi_number)

str

In [22]:
converted_pi_number

'3.14'

In [23]:
x = False

In [24]:
type(x)

bool

In [25]:
converted_x = str(x)

In [26]:
converted_x

'False'

### input() fonksiyonu

In [29]:
input("enter your age")

'29'

In [30]:
your_age = input("enter your age")

In [31]:
your_age

'29'

In [32]:
input("enter your job")

'data scientist'

In [34]:
your_job = input("enter your job")
your_job

'30'

### float to int

In [35]:
pi_number = 3.14
int(pi_number)

3

In [37]:
int(3.99) #noktadan sonrasÄ±nÄ± komple atar

3

In [38]:
z = 5.9
z = int(z)
z

5

In [40]:
type(z)

int

### int to float

In [41]:
float(3)

3.0

### str to float

In [42]:
age = "on sekiz"

In [43]:
float(age)

ValueError: could not convert string to float: 'on sekiz'

In [44]:
pi_number = "3.14"

In [45]:
float(pi_number)

3.14

In [46]:
float("3.0")

3.0

In [47]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

In [48]:
int("6")

6

In [50]:
int("6.0") #int olduÄu iÃ§in noktayÄ± string kabul etti

ValueError: invalid literal for int() with base 10: '6.0'

In [51]:
age = input("enter your age")

In [52]:
job = input("enter your job")

In [54]:
print(age)
print(job)

29
data scientist

In [56]:
print(type(age))
type(job)

<class 'str'>

str

In [57]:
2023 - age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [58]:
2023 - int(age)

1994

In [61]:
age_2 = int(input("enter your age")) #rakamla yazmassak hata verir

In [62]:
type(age_2)

int

In [63]:
str(False)

'False'

In [64]:
int(False)

0

In [65]:
float(True)

1.0

In [67]:
x = 5.6
int(x)
print(type(x))

<class 'float'>

In [68]:
x = 5.6
x = int(x)
print(type(x))

<class 'int'>

In [69]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [70]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525