### FOR
LOOPS - DÖGÜLER

[sum() - toplama](#1)

[zip() ](#2)

In [1]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [19]:
a = ""
for i in [1, 2, 3, 4, 5]:
    a += str(i) + "-"
print(a.rstrip("-"))

1-2-3-4-5

In [28]:
liste2 = []
for i in "techpro":
    liste2.append(i)
"-".join(liste2)

't-e-c-h-p-r-o'

In [5]:
for name in ("adem", "ahmet", "filiz"):
    print(name)

adem
ahmet
filiz

In [7]:
# karelerinin listesinin oluşturun
liste_1 = [1, 2, 3, 4, 5]

liste_kareler = []
for i in liste_1:
    liste_kareler.append(i ** 2)
print(liste_kareler)

[1, 4, 9, 16, 25]

In [36]:
a = tuple("12345")

for i in a:
    print(i, end="*")

1*2*3*4*5*

In [35]:
b = set("sabahattin")

for i in b:
    print(i, end="-")

b-n-t-h-a-i-s-

In [46]:
dict_1 = {"name": "İsmet", "job" : "Data scientist", "age": 25}

#keyleri döndürür

for i in dict_1:
    print(i)
print("")
for i in dict_1.values():
    print(i)
print("")
for i, j in dict_1.items():
    print(f"{i} : {j}")

name
job
age

İsmet
Data scientist
25

name : İsmet
job : Data scientist
age : 25

In [51]:
dict_2 = {"name": "ismet", "surname": "yılmaz", "age": 25}

for i, j in dict_2.items():
    print(f"key : {i:<10} \tvalue : {j:<20}")

key : name       	value : ismet
key : surname    	value : yılmaz
key : age        	value : 25

In [3]:
for i in range(10):
    print("ceza")

ceza
ceza
ceza
ceza
ceza
ceza
ceza
ceza
ceza
ceza

In [85]:
#çarpım tablosu
x = int(input("enter a figure")) 

if x in range(10):
    for i in range(11):
        print(f"{x} x {i:>2} = {x * i:>3}")
else:
    print(f"{x} is not a figure")

5 x  0 =   0
5 x  1 =   5
5 x  2 =  10
5 x  3 =  15
5 x  4 =  20
5 x  5 =  25
5 x  6 =  30
5 x  7 =  35
5 x  8 =  40
5 x  9 =  45
5 x 10 =  50

In [10]:
# rakam verilene kadar giriş istiyor
while 1:
    x = int(input("enter a figure")) 

    if x not in range(10):
        print("figüre must be among 0 and 10")

    else:
        for i in range(11):
            print(f"{x} x {i:>2} = {x * i:>3}")
        break

5 x  0 =   0
5 x  1 =   5
5 x  2 =  10
5 x  3 =  15
5 x  4 =  20
5 x  5 =  25
5 x  6 =  30
5 x  7 =  35
5 x  8 =  40
5 x  9 =  45
5 x 10 =  50

In [22]:
count = 0
while count < 3:
    x = input("enter a figure")

    if not x.isdigit() or int(x) not in range(10):
        print("figüre must be among 0 and 10")
        count += 1

    else:
        for i in range(11):
            print(f"{x} x {i:>2} = {int(x) * i:>3}")
        break

figüre must be among 0 and 10
figüre must be among 0 and 10
5 x  0 =   0
5 x  1 =   5
5 x  2 =  10
5 x  3 =  15
5 x  4 =  20
5 x  5 =  25
5 x  6 =  30
5 x  7 =  35
5 x  8 =  40
5 x  9 =  45
5 x 10 =  50

In [24]:
# 1 den 50 kadar olan sayıların toplamını veren algoritma
toplam = 0
for i in range(51):
    toplam += i
print(toplam)

1275

In [26]:
# 20 den 50 kadar olan sayıların toplamını veren algoritma
toplam = 0
for i in range(20, 51):
    toplam += i
print(toplam)

1085

In [27]:
# 1 den 50 kadar olan çift sayıların toplamını veren algoritma
toplam = 0
for i in range(0, 51, 2):
    toplam += i
print(toplam)

650

In [29]:
# 1 den 50 kadar olan tek sayıların toplamını veren algoritma
toplam = 0
for i in range(1, 51, 2):
    toplam += i
print(toplam)

625

<a id ="1"></a>
#### sum()

In [36]:
sum(range(51))

1275

In [38]:
sum((4, 5, 6, 7, 8, 9))

39

In [41]:
sum((4, 5, 6, 7, 8, 9), start=100) #100 ekledi

139

In [42]:
sum((4, 5, 6, 7, 8, 9), True) # startı True yani 1 aldı

40

break, continue

In [45]:
for i in range(1, 10):
    print(i, end= "-")

1-2-3-4-5-6-7-8-9-

In [52]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(i)
    if i % 3 == 0:
        print(i ** 2)
        break

1
2
3
9

In [2]:
k = 0
for i in range(10):
    if i == 5:
        continue
    k += i
print(k)
sum(range(10))

40

45

In [12]:
#üçe bölünebilenleri topla
k = 0
for i in [1, 4, 6, 8, 9, 5 ,4, 7, 27, 26, 30, 33, 48]:
    if i % 3 != 0:
        continue
    k += i
print(k)
sum([1, 4, 6, 8, 9, 5 ,4, 7, 27, 26, 30, 33, 48])

153

208

<a id = "2"></a>
#### zip()

In [14]:
a = ["apple", "orange", "banana"]
b = [1, 2, 3]
list(zip(a,b))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [17]:
x = "techpro"
y = "sedat"
z = "ali"
list(zip(x, y, z)) # en kısaya göre oluşturur.

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]